$font-family: Arial, sans-serif;

@mixin center-align {
  text-align: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.title {
  @include center-align;
  background-color: black;
}

.titulo--birras {
  @include center-align;
  color: white;
}

.titulo__deli {
  @include center-align;
  color: white;
}

.img-medios {
  @include flex-center;
  margin-left: 100px;
}

.title_medios {
  @include flex-center;
}

body {
  background-color: rgb(20, 20, 20);
  font-family: $font-family;

  footer {
    .caja-uno {
      background-color: black;
      color: white;
      padding: 10px;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
    }

    .caja-dos {
      @include flex-center;
      background-color: rgb(227, 230, 233);
      text-align: center;
    }

    #facebook {
      width: 20px;
      height: 20px;
    }

    #instagram {
      width: 20px;
      height: 25px;
    }

    #whatsaap {
      width: 20px;
      height: 20px;
    }

    #spotify {
      width: 20px;
      height: 20px;
    }

    .icon {
      display: flex;
    }

    #copy {
      background-color: rgb(48, 108, 138);
      color: black;
      text-align: center;
      font-weight: 200;
      font-style: italic;
    }
  }
}

/* MENU */
.imagemenu {
  display: flex;
}

.imagemenu {
  width: 10px;
  height: 700px;
}

.menu1 {
  margin: 2px;
}

/* BIRRAS */
.images--cards {
  width: 100px;
}

/* HORARIOS */
.title_dias {
  text-align: left;
  color: white;
}

.horarios_atencion {
  text-align: left;
  color: white;
  @include flex-center;
}

/* CAROUSEL INDEX */

.text-colour {
  color: white;
  font-weight: bolder;
}